body {
  padding: 10px;
}


h1, h2,h3, h4 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h3{
  margin-top:0px;
}
#board{
  margin: 0 auto;

}

a{
  float:right;
}
.createContainer{
  display:flex;
  justify-content:center;
  margin-bottom:10px;
  margin-top: 2%;
}
#board td{
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #8CC8DD;
}

td.dead {
  background-color: #F70D1A;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}